*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar{
    width: 10px;
    background-color:#17301C;
}
::-webkit-scrollbar-thumb{
    background-color: #744FC6;
    height: 25px;
    border-radius: 5px;
}

.nav-bar{
    width: 75px;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    transition-duration: 700ms;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif;
    z-index: 3;
}
.nav-bar span{
    display: none;
}
.nav-bar:hover{
    width: 250px;
    opacity: 1;
}
.nav-bar:hover span{
    display: flex;
}
.nav-bar-item{
    width: 100%;
    height: 15%;
    transition-duration: 500ms;
    font-size: 20px;  
    display: flex;
    align-items: center;  
    justify-content: center;
}
.nav-bar-item .nav-bar-link{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-decoration: none;
}
.nav-bar-item:hover{
    background-color: #744FC6;
    width: 105%;
}
/* .nav-bar-item:first-child a{
    transition-duration: 700ms;
}
.nav-bar:hover .nav-bar-item:first-child a{
    transform: rotate(180deg);
} */
.nav-bar-item:last-child{
    margin-top: auto;
}

.wellcome{
    width: 100%;
    min-height: 100vh;
    background-color: #2C4531;
}
.jumbotron {
    background-color: rgba(102, 99, 102, 0.486);
    color: white;
}
.hero{
    margin-top: 10%;
}
.lead{
    font-size: 1.5rem;
}
.btn-cv{
    background-color: #744FC6;
    border-color: #744FC6;
}
.btn-cv:hover{
    background-color: rgb(96, 50, 194);
    border-color: rgb(96, 50, 194);
    
}

.about{
    width: 100%;
    min-height: 100vh;
    background-color: #286173;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    position: relative;

}
.about::before{
    content: "Acerca de mi";
    font-size: 6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    position: absolute;
    bottom: 5%;
    left: 10%;
    opacity: 0.8;
}
.about-box{
    height: 550px;
    width: 80%;
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}
.about-text{
    width: 50%;
    height: 100%;
    margin: 2px;
    /* background-color: cornflowerblue; */
    padding: 15px;
    color: honeydew;
    font-size: 1.2rem;
    overflow-y: auto;
    padding: 10px;
}
.about-text::-webkit-scrollbar{
    width: 5px;
    background-color:transparent;
}
    /* ::-webkit-scrollbar-thumb{
        background-color: #744FC6;
        height: 25px;
        border-radius: 5px;
    } */
.about-photo{
    width: 45%;
    height: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-photo img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.about-skills{
    width: 45%;
    height: 50%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    /* background-color: tomato; */
    
}
/* swiper css config */
.swiper-container {
    width: 225px;
    height: 225px;
    position: absolute;
    /* left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px; */
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
}
.swiper-pagination-bullet-active{
    background-color: rgb(59, 6, 172);
}

.progress{
    width: 90%;
    opacity: 0.3;
}
.progress span{
    display: none;
}
.progress .progress-bar{
    width: 0%;
}
/* html-area */
.html-area .progress-bar{
    background-color: #e34c26;
    width: 0%;
}
.html-area:hover .progress{
    opacity: 1;
    background-color: transparent;
    border: solid 1px gray;
}
.html-area:hover .progress-bar{
    width: 60%;
}
.html-area:hover p{
    color: #e34c26;
}
.html-area:hover span{
    display: inline;
}
/* css-area */
.css-area .progress-bar{
    background-color: #264de4;
    width: 0%;
}
.css-area:hover .progress{
    opacity: 1;
    background-color: transparent;
    border: solid 1px gray;
}
.css-area:hover .progress-bar{
    width: 60%;
}
.css-area:hover p{
    color: #264de4;
}
.css-area:hover span{
    display: inline;
}
/* js-area */
.js-area .progress-bar{
    background-color: #f0db4f;
    width: 0%;
}
.js-area:hover .progress{
    opacity: 1;
    background-color: transparent;
    border: solid 1px gray;
}
.js-area:hover .progress-bar{
    width: 60%;
}
.js-area:hover p{
    color: #f0db4f;
}
.js-area:hover span{
    display: inline;
    color: black;
}
/* react-area */
.react-area .progress-bar{
    background-color: #61dbfb;
    width: 0%;
}
.react-area:hover .progress{
    opacity: 1;
    background-color: transparent;
    border: solid 1px gray;
}
.react-area:hover .progress-bar{
    width: 60%;
}
.react-area:hover p{
    color: #61dbfb;
}
.react-area:hover span{
    display: inline;
    color: black;
}




.hobbies{
    width: 100%;
    min-height: 100vh;
    background-color: #1C5351;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hobbies::before{
    content: "Pasatiempos";
    font-size: 6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 2%;
    right: 15%;
    opacity: 1;
    color: white;
}
.hobbies-box{
    height: 600px;
    width: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hobbies-box .swiper-container{
    height: 80%;
    width: 80%;
}
.swiper-button-next, .swiper-button-prev{
    color: rgba(0, 0, 0, 0.651);
}
.swiper-slide .display-1{
    color: whitesmoke;
    /* opacity: 0.9; */
    font-weight: 700;
    position: absolute;
    bottom: 0px;
}
.f1{
    background-image: url("../images/fam.jpg");
}
.f2{
    background-image: url("../images/novia.jpg");
}
.f3{
    background-image: url("../images/amigos.jpg");
}
.f4{
    background-image: url("../images/deportes.JPG");
}
.f5{
    background-image: url("../images/swing.jpg");
}
.f6{
    background-image: url("../images/viajar.JPG");
}



.networks{
    width: 100%;
    min-height: 100vh;
    background-color: #4F86C6;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.networks::before{
    content: "Redes Sociales";
    font-size: 6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 5%;
    left: 15%;
    opacity: 0.6;
}

.networks-box{
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}
.networks-box:hover{
    /* animation: fadeInUp 1s 400ms; */
}
.networks-box span{
    display: none;
    font-size: 2rem;
}
.networks-box a{
    color: white;
}
.networks-box:hover span{
    display: flex;
}
.networks-box img {
    display: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.networks-box i{
    font-size: 10rem;
    color: white;
}
.networks-box:hover i{
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
}
.networks-box:hover img{
    display: flex;
}
.networks-box:hover i{
    background-color: white;
    font-size: 7rem;
}

.ig i{
    background: -webkit-linear-gradient(144deg, rgba(254,218,117) 0%, rgba(214,41,118) 35%, rgba(79,91,213) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ig:hover{
    background: -webkit-linear-gradient(144deg, rgba(254,218,117) 0%, rgba(214,41,118) 35%, rgba(79,91,213) 100%);

}
.fb i{
    background: -webkit-linear-gradient(144deg, rgb(9, 14, 73) 0%, rgb(13, 37, 145) 35%, rgb(44, 123, 226) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fb:hover{
    background: -webkit-linear-gradient(144deg, rgb(9, 14, 73) 0%, rgb(13, 37, 145) 35%, rgb(44, 123, 226) 100%);

}
.tw i{
    background: -webkit-linear-gradient(144deg, rgb(11, 61, 126) 0%, rgb(13, 76, 172) 35%, rgb(44, 123, 226) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tw:hover{
    background: -webkit-linear-gradient(144deg, rgb(11, 61, 126) 0%, rgb(13, 76, 172) 35%, rgb(44, 123, 226) 100%);

}


.contact{
    height: 25vh;
    width: 100%;
    background-color: black;
    color:white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    
}
.contact-area{
    height: 100%;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact-secction a{
    text-decoration: none;
    color: white;
}
.last{
    width: 15%;
    display: flex;
    justify-content: space-around;
}


@media screen and (max-width: 700px) {
    body{
        margin-bottom: 49px;

    }
    .nav-bar{
        height: 50px;
        width: 100vw;
        bottom: 0;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        opacity: 1;  
    }
    .nav-bar-item{
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .nav-bar-item:last-child{
        order: -1;
    }
    .nav-bar:hover{
        height: 50px;
        width: 100vw;
        bottom: 0;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        opacity: 1;
    }
    .nav-bar:hover span{
        display: none;
    }
    .nav-bar-item:hover{
        background-color: #744FC6;
        width: 20%;
    }

     .display-2{
         font-size: 4rem;
     }


    .networks{
        height: 110vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end; 
        padding-bottom: 5vh;   
    }
    .networks-box{
        height: 30%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .networks-box span{
        display: none;
        font-size: 1rem;
    }
    .networks-box a{
        color: white;
    }
    .networks-box:hover span{
        display: flex;
    }
    .networks-box img {
        display: none;
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    .networks-box i{
        font-size: 7rem;
        color: white;
    }
    .networks-box:hover i{
        -webkit-background-clip: text;
        -webkit-text-fill-color: white;
        font-size: 4rem;
    }
    .networks-box:hover img{
        display: flex;
    }
    .networks-box:hover i{
        background-color: white;
        font-size: 3rem;
    }
    
    .ig i{
        background: -webkit-linear-gradient(144deg, rgba(254,218,117) 0%, rgba(214,41,118) 35%, rgba(79,91,213) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .ig:hover{
        background: -webkit-linear-gradient(144deg, rgba(254,218,117) 0%, rgba(214,41,118) 35%, rgba(79,91,213) 100%);
    
    }
    .fb i{
        background: -webkit-linear-gradient(144deg, rgb(9, 14, 73) 0%, rgb(13, 37, 145) 35%, rgb(44, 123, 226) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .fb:hover{
        background: -webkit-linear-gradient(144deg, rgb(9, 14, 73) 0%, rgb(13, 37, 145) 35%, rgb(44, 123, 226) 100%);
    
    }
    .tw i{
        background: -webkit-linear-gradient(144deg, rgb(11, 61, 126) 0%, rgb(13, 76, 172) 35%, rgb(44, 123, 226) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .tw:hover{
        background: -webkit-linear-gradient(144deg, rgb(11, 61, 126) 0%, rgb(13, 76, 172) 35%, rgb(44, 123, 226) 100%);
    
    }



    .about::before, .hobbies::before, .networks::before{
        font-size: 2rem;
        
        top:2%;
        left: 5%;
    }

    .about{
        height: auto;
    }
    .about-box{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around   ;
        height: 700px;
    }
    .about-text {
        width: 90%;
        height: 200px;
        font-size: 12px;
        margin-top: 50px;
    }
    
    .about-photo{
        width: 90%;
        height: 25%;
    }
    .about-photo img{
        height: 150px;
        width: 150px;
    }

    
    .about-skills {
        width: 90%;
        height: 200px;
    }
    .swiper-container {
        width: 150px;
        height: 150px;
        position: absolute;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
    }

    .swiper-pagination-bullet-active{
        background-color: rgb(59, 6, 172);
    }
    .swiper-pagination{
        position: relative;
        bottom: 40px;
    }


    .hobbies-box{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .hobbies-box .swiper-container{
        height: 300px;
        width: 300px;
    }
    .hobbies .swiper-slide .display-1{
        font-size: 3rem;
    }

    .contact-area{
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
    }
    .last{
        width: 50%;
    }



}